<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <title>Edit Additional and Photo</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/eduaddl.css' %}">
    <script>
        $(document).ready(function(){
            
            var counter = 0;
            $('#add_new').click(function(){
                counter++;
                if(counter<=5)
                var newElement = '<div class="addl_form"><div class="mb-3" id="title_div"><label for="info" class="form-label">Additional Info Entry</label><input type="text" class="form-control" id="addl_info" name="info"></div></div>'
                $('#additional').append( $(newElement) )
                if(counter>5)
                $('#add_new').remove()
            })            
        })
    </script>
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Welcome {{user.first_name}} {{user.last_name}}!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto"></ul>
                <span class="navbar-text">
                    <a href="/logout" role="button" class="btn btn-sm btn-info ml-2 text-white">Logout</a>
                </span>
            </div>
        </div>
    </nav><!-- /NAVBAR -->
    <br>
    <h2>Additional Info</h2>
    <p>These entries can range from: honors/awards; certifications; volunteerism; fluent languages</p>
    <br>
    <div id="addl_form">
        <form action="/editadditional" method="POST" id="additional" >
            {% csrf_token %}
            {% for additional in user.additionals.all %}
        <div class="addl_form">
            <div class="mb-3" id="title_div">
                <label for="info" class="form-label">Additional Info Entry</label>
                <input type="text" class="form-control" id="addl_info" value="{{additional.info}}" name="info">
            </div>
        </div>
        {% if additional.info1 %}
        <div class="addl_form">
            <div class="mb-3" id="title_div">
                <label for="info" class="form-label">Additional Info Entry</label>
                <input type="text" class="form-control" id="addl_info" value="{{additional.info1}}" name="info1">
            </div>
        </div>
        {% endif %}
        {% if additional.info2 %}
        <div class="addl_form">
            <div class="mb-3" id="title_div">
                <label for="info" class="form-label">Additional Info Entry</label>
                <input type="text" class="form-control" id="addl_info" value="{{additional.info2}}" name="info2">
            </div>
        </div>
        {% endif %}
        {% if additional.info3 %}
        <div class="addl_form">
            <div class="mb-3" id="title_div">
                <label for="info" class="form-label">Additional Info Entry</label>
                <input type="text" class="form-control" id="addl_info" value="{{additional.info3}}" name="info3">
            </div>
        </div>
        {% endif %}
        {% if additional.info4 %}
        <div class="addl_form">
            <div class="mb-3" id="title_div">
                <label for="info" class="form-label">Additional Info Entry</label>
                <input type="text" class="form-control" id="addl_info" value="{{additional.info4}}" name="info4">
            </div>
        </div>
        {% endif %}
        {% if additional.info5 %}
        <div class="addl_form">
            <div class="mb-3" id="title_div">
                <label for="info" class="form-label">Additional Info Entry</label>
                <input type="text" class="form-control" id="addl_info" value="{{additional.info5}}" name="info5">
            </div>
        </div>
        {% endif %}
        {% if additional.info6 %}
        <div class="addl_form">
            <div class="mb-3" id="title_div">
                <label for="info" class="form-label">Additional Info Entry</label>
                <input type="text" class="form-control" id="addl_info" value="{{additional.info6}}" name="info6">
            </div>
        </div>
        {% endif %}
            {% endfor %}
            <div class="d-grid gap-2 col-2 mx-auto" id="final_btm_btn">
                <button class="btn btn-primary" id="submit" type="submit">Back Home</button>
            </div>
        </form>
    </div>
</body>
</html>