<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <title>Fill out Experience</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/expemp.css' %}">
    <script>
        $(document).ready(function(){
            
            var counter = 0;
            $('#add_new').click(function(){
                counter++;
                if(counter<=2)
                var newElement = '<div class="mb-3"><label for="title" class="form-label">Title</label><input type="text" class="form-control" id="exp_title" name="title"></div><div class="mb-3"><label for="desc" class="desc-form-label">Description</label><textarea class="form-control" id="exp_desc" rows="3" name="desc"></textarea></div>'
                $('.exp_form').append( $(newElement) )
                if(counter>2)
                $('#add_new').remove()
            })            
        })
    </script>
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <h5>Welcome {{user.first_name}} {{user.last_name}}!</h5>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto"></ul>
                <span class="navbar-text">
                    <a href="/logout" role="button" class="btn btn-sm btn-info ml-2 text-white">Logout</a>
                </span>
            </div>
        </div>
    </nav><!-- /NAVBAR -->
    <br>
    <h2>Experience</h2>
    <p>Maximum of 3 entries</p>
    {% for message in messages %}
    <ul>
        <li>{{ message }}</li>
    </ul>
    {% endfor %}
    <br>
    <div id="exp_form">
        <form action="/experience" method="POST" id="experience">
            {% csrf_token %}
        <div class="exp_form">
            <div class="mb-3">
                <label for="title1" class="form-label">Title</label>
                <input type="text" class="form-control" id="exp_title" name="title1">
            </div>
            <div class="mb-3">
                <label for="desc1" class="desc-form-label">Description</label>
                <textarea class="form-control" id="exp_desc" rows="3" name="desc1"></textarea>
            </div>
        </div>   
        <div class="exp_form">
            <div class="mb-3">
                <label for="title2" class="form-label">Title</label>
                <input type="text" class="form-control" id="exp_title" name="title2">
            </div>
            <div class="mb-3">
                <label for="desc2" class="desc-form-label">Description</label>
                <textarea class="form-control" id="exp_desc" rows="3" name="desc2"></textarea>
            </div>
        </div>  
        <div class="exp_form">
            <div class="mb-3">
                <label for="title3" class="form-label">Title</label>
                <input type="text" class="form-control" id="exp_title" name="title3">
            </div>
            <div class="mb-3">
                <label for="desc3" class="desc-form-label">Description</label>
                <textarea class="form-control" id="exp_desc" rows="3" name="desc3"></textarea>
            </div>
        <!-- </div>   
        <div class="d-grid gap-2 col-2 mx-auto" id="btm_btn">
            <button class="btn btn-primary" id="submit" type="submit">Add Experience</button>
        </div>   -->
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-primary">Next page - Employment</button>
        </div>    
        </form>
    </div>
    {% if user.experiences.all %}
    <div id="emp_table">
        <table style="width: fit-content;" class="table table-bordered">
            <tr>
                <th>Title</th>
                <th>Description</th>
            </tr>
            {% for experience in user.experiences.all %}
            <tr>
                {% if experience.title1 %}
                <td>{{ experience.title1 }}</td>
                {% endif %}
                {% if experience.desc1 %}
                <td>{{ experience.desc1 }}</td>
                {% endif %}
                {% if experience.title2 %}
                <td>{{ experience.title2 }}</td>
                {% endif %}
                {% if experience.desc2 %}
                <td>{{ experience.desc2 }}</td>
                {% endif %}
                {% if experience.title3 %}
                <td>{{ experience.title3 }}</td>
                {% endif %}
                {% if experience.desc3 %}
                <td>{{ experience.desc3 }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}   
</body>