<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <title>Continue Resume</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script>
        $(document).ready(function() {
            $('#changes').hide();

            $('#edit_info').click(function(){
                $('#changes').toggle();
            })
        })


    </script>
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Welcome back, {{user.first_name}} {{user.last_name}}!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto"></ul>
                <span class="navbar-text">
                    <a href="/logout" role="button" class="btn btn-sm btn-info ml-2 text-white">Logout</a>
                </span>
            </div>
        </div>
    </nav><!-- /NAVBAR -->
    <br>
    <div class="wrapper">
        <div id="new_button">
            <a class="btn btn-primary" href="/newresume/{{user.id}}" role="button">Start Process</a>
        </div>
        <br>
        <div id="view_button">
            <a class="btn btn-primary" href="/templatepage" role="button">View Template</a>
        </div>
        <br>
        <div id="edit_button">
            <a class="btn btn-primary" id="edit_info" href="#" role="button">Edit Info</a>
            <ul id="changes">
                <li><a href="/editpersonalpage">Personal Info</a></li>
                <li><a href="/editobjandskillpage">Objective & Skills</a></li>
                <li><a href="/editexperiencepage">Experience</a></li>
                <li><a href="/editemploymentpage">Employment</a></li>
                <li><a href="/editeducationpage">Education</a></li>
                <li><a href="/editadditionalpage">Additional Info</a></li>
                <li><a href="/editpicturepage">Picture</a></li>
            </ul>
        </div>
    </div>
</body>