<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Theme Simply Me</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/recommend.css' %}">
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Profile Resume</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto"></ul>
                <span class="navbar-text">
                    <a href="/logreg">Register</a>
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>
                    <a href="/media">Media</a>
                </span>
            </div>
        </div>
    </nav><!-- /NAVBAR -->
    <br>
    <h2>Personal Recommendations</h2>
    <br>
    <div class="recs">
        <div id="first_rec">
            <h4>Programming Boot Camp: <a href="https://www.codingdojo.com/" target="_blank">Coding Dojo</a></h4>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/C1nVzOzEE-c"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <h6>My experience with Coding Dojo is with the 26 week Flex Python Full-Stack program. Great instructors,
                organized layout, and challenging without being overbearing.</h6>
        </div>
        <div id="second_rec">
            <h4>Deal Site: <a href="https://slickdeals.net/" target="_blank">Slickdeals</a></h4>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/3FkCvw1rT9c"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <h6>Great site for finding and tracking deals. Comes in handy for all occasions and even helps with cashback
                offers. Plenty of freebies from some well-known retailers.</h6>
        </div>
    </div>
    <br>
    <div class="recs">
        <div id="first_rec">
            <h4>Math Fun: <a href="https://www.prodigygame.com/main-en/" target="_blank">Prodigy</a></h4>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/O1_V75nK67M"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <h6>When I was a middle school math teacher, I highly encouraged my students to play this game. They are
                having fun while solving ever-increasing difficult math problems.</h6>
        </div>
        <!-- <div id="second_rec">
            <h4><a href="" target="_blank"></a></h4>
            
            <h6></h6>
        </div> -->
    </div>
</body>