/* education css */

h5{
    color: ivory;
}

h2, p{
    text-align: center;
}

#next_page{
    color: white;
}

table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

span{
    font-size: small;
}

#edu_form, #addl_form, .img_form{
    margin: 10px;
}

#add_new{
    margin-left: 10px;
}

#title_div{
    margin-top: 10px;
}

.edu_form{
    margin-bottom: 40px;
}

/* additional css */

#submit{
    width: 150px;
}

#img_file{
    margin:auto;
}