/* experience css */

h2, .mb-3, h6{
    text-align: center;
}

#exp_form, #emp_form{
    margin: 10px;
}

#add_new{
    margin-left: 20px;
}

#submit{
    width: 150px;
}

.form-label, p{
    word-wrap: break-word;
    font-family: 'Times New Roman', Times, serif;
    /* margin-top: 25px; */
}

.desc-form-label{
    font-family: 'Times New Roman', Times, serif;
}

/* employment css */

.row, #title_div{
    margin-top: 10px;
}

.emp_notes{
    font-size: small;
}

#emp_desc{
    margin-bottom: 20px;
}

.emp_form, .exp_form{
    margin: 0px 10px 50px 10px
}

#next_page{
    color: white;
}

table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}