/* personalinfo css */

#name p{
    display: flex;
    vertical-align: bottom;
}

.social{
    font-size: medium;
}

.phone{
    font-size: small;
}

#submit{
    width: 150px;
}

/* objective and skills css */

h2, .mb-3, p{
    text-align: center;
}

.mb-3{
    margin: 10px;
}

.form-label, p{
    word-wrap: break-word;
    font-family: 'Times New Roman', Times, serif;
}

#skill_list{
    margin: 10px;
}