/* personalinfo css */

#name p{
    display: flex;
    vertical-align: bottom;
}

h5{
    color: ivory;
}

.social{
    font-size: medium;
}

.phone, .span_skills{
    font-size: small;
}

#submit{
    width: 150px;
}

/* objective and skills css */

h2, .mb-3, p, h6{
    text-align: center;
}

.mb-3{
    margin: 10px;
}

.form-label, p{
    word-wrap: break-word;
    font-family: 'Times New Roman', Times, serif;
}

#skill_list{
    margin: 10px;
}

.skills{
    display: flex;
    place-content: center;

}
.skills ul{
    /* padding-bottom: 0px; */
    margin: 0px;
}
.skills1{
    display: inline-block;
    width: 250px;
    place-content: center;
    height: fit-content;
}
.skills li{
    padding-bottom: 5px;
    font-size:medium;
}