h2, p{
    text-align: center;
}

h5{
    color: ivory;
}

#first_pic, #second_pic, #third_pic, #fourth_pic{
    width: 350px;
    height: 350px;
}

#pic_temps{
    display: flex;
    place-content: center;
}

.temp_one_two, .temp_three_four{
    display: inline-block;
    width: 450px;
    place-content: center;
    height: fit-content;
}

span{
    font-size: small;
}

#pic_form{
    margin: 5px;
}

#pic_preview{
    display: flex;
    place-content: center;
}

#delete_btn{
    margin-top: 5px;
    display: flex;
    place-content: center;
}